
{% set title = "Index page" %}

{% include "common/header.html" %}
<body>
    
    <div class="site">
        <div class="top-line">
            <div class="container">
                <div class="top-line__content">
                    <!-- ADD Menu -->
                        {% include "include/menu.html" %}
                    <!-- END Menu -->
                    <!-- ADD Summary -->
                        {% include "include/summary.html" %}
                    <!-- end Summary -->
                    <!-- ADD Cabinet -->
                        {% include "include/cabinet.html" %}
                    <!-- END Cabinet -->
                </div>
            </div>
        </div>
    </div>

{% include "common/footer.html" %} 
{% include "include/sprite.html" %} 
{% include "include/scripts.html" %}     
</body>
</html>